/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.debug{
  border: 1px solid red;
}
/* General Rules */

/* Palette */
/* sfondi - testi - bottoni
nero: #000000; - Header
grigio-scuro: #363636; - Bottoni
grigio-medio: #1f1f1f; - Games
grigio-chiaro: #bebcbb;
bianco: #ffffff;
bianco-scuro: #d9dadc; - Playstation-Plus
bianco-medio: #f5f5f5; - Playstation-Now
rosso: #cb3e1e; - Bottoni
blu: #3168e2; - Bottoni
blu-medio: #08469a; - Footer
blu-scuro: #161d3a; - Playstation-Now
*/

section{
  
}