/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

.debug{
border: 1px solid red;
}
/* General Rules */

/* Palette */
/* sfondi - testi - bottoni
nero: #000000; - Header
grigio-scuro: #363636; - Bottoni
grigio-medio: #1f1f1f; - Games
grigio-chiaro: #bebcbb;
bianco: #ffffff;
bianco-scuro: #d9dadc; - Playstation-Plus
bianco-medio: #f5f5f5; - Playstation-Now
rosso: #cb3e1e; - Bottoni
blu: #3168e2; - Bottoni
blu-medio: #08469a; - Footer
blu-scuro: #161d3a; - Playstation-Now
*/

/* Bottoni */
.cs-btn-dark-grey{
background-color: #363636;
color:#ffffff;
border-radius: 30px;
}
.cs-btn-red{
background-color: #cb3e1e;
color:#ffffff;
border-radius: 30px;
}
/* Icone */
.lens img{
height: 50%;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/* Search */
.cs-search{
display: none;
}

/* Style */


/* Nuovo codice ******************* */
/* General */
section{
padding: 60px 0;
}
h1{
  margin: 3% 0;
}
h2{
  font-size: 2.5rem;
  margin-bottom: 3%;
}
.btn{
border-radius: 20px;
margin: 10px 0;
}
.btn-primary{
background-color: #3168e2;
border: #3168e2;
}
.btn-danger{
background-color: #cb3e1e;
border: #cb3e1e;
}
.text-primary{
color: #3168e2;
}
.text-secondary{
color: #363636;
}
.bg-secondary{
background-color: #1f1f1f;
}
.bg-grey{
background-color: #bebcbb;
}
.bg-blue{
background-color: #161d3a;
}
.bg-blue-light{
background-color: #08469a;
}


/* Header */
header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 1;
}
#top{
background-color: #000000;
height: 80px;
position: relative;
}
#logo{
position: absolute;
width: 80px;
top: 10px;
right: 10px;
line-height: 40px;
vertical-align: middle;
}
/* Jumbotron */
#jumbo{
margin-top: 140px;
background-image: url(../img/jumbo-bg.png);
background-position: top;

}

.banner{
max-width: 250px;
margin-bottom: 30px;
} /* CHECK ************************** */


/* Jumbo-gallery */
#jumbo-gallery .container{
margin: 30px auto 50px;
}
#jumbo-gallery .row{
justify-content: center;
align-items: center;
}

.cs-img-wrapper img{
position: relative;
padding: 2px;
border-radius: 20px;
overflow: hidden;
}
.cs-img-wrapper.cs-active{
position: relative;
padding: 1px;
border: 2px solid #3168e2;
border-radius: 20px;
overflow: hidden;
}
/* Playstation-5 */
#playstation-5 .row{
justify-content: center;
align-items: flex-start;
}
#ps5-gallery .container{
margin: 50px auto;
}
#ps5-gallery .row{
justify-content: space-between;
align-items: center;
}
#ps5-gallery img{
width: 100px;
}
.cs-active-ps5{
  position: relative;
  padding: 1px;
  border-bottom: 2px solid #3168e2;
  overflow: hidden;
}

/* Games */
#games{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-origin: padding-box;
  background-position: center top;
  background-repeat: no-repeat;
}
/* Game-gallery */
#games-gallery .col{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#games-gallery .cs-radius{
  border-radius: 20px;
  overflow: hidden;
}
/* Playstation-Plus */
#playstation-plus{
  background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  }
/* Playstation-Now */
#playstation-now{
  background-image: url(../img/ps-now-april-featured-image-block.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}
/* Socials */
#socials img{
  max-width: 80%;
  margin: 50px auto;
}
/* Footer */
footer{
  background-color: #08469a;
  color: #ffffff;
  padding: 20px;
}
#footer-top .row{
  align-items: top;
}
#footer-top .logo-footer{
  color: #fff;
  font-size: 80px;
  position: relative;
}
#footer-top .register{
  position: absolute;
  color: #ffffff;
  opacity: 0.7;
  font-size: 10px;
  top: 80px;
  margin-left: -10px;
}
#globe{
  width: 20px;
}

#footer-top ul{
  margin-top: 10%;
  list-style: none;
}
#footer-top ul li{
  padding-bottom: 10px;
}
#footer-top ul li a{
  text-decoration: none;
  color: #ffffff;
}
/* Footer-down */
#footer-bottom .row{
  margin-top: -60px;
}
#footer-bottom .logo-footer-down img{
  height: 50px;
  margin-bottom: 20px;;
}
#footer-bottom a{
  color: #ffffff;
}
#footer-bottom a:hover{
  color: #ffffff;
}

/* Media query */

/* SM */
@media screen and (max-width: 576px){
  h2{
    font-size: 2.5rem;
  }
  #playstation-5 p.text-secondary{
    font-size: 1.5rem;
    margin-bottom: 10%;
  }
  #playstation-plus{
    background-image: none;
  }

  
  /* #footer-bottom p{
    font-size: 0.9rem;
  } */
}

/* MD */
@media screen and (max-width: 768px){
  h2{
    font-size: 2.5rem;
  }
  #playstation-4 p.text-secondary{
    font-size: 1.5rem;
  }
  #footer-bottom p{
    font-size: 0.9rem;
  }
}